DATABASE_URL=postgres://medusa:medusa@localhost:5432/medusa_poc
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=medusa
DB_PASSWORD=medusa
REDIS_URL=redis://localhost:6379
STORE_CORS=http://localhost:8000
ADMIN_CORS=http://localhost:9000
AUTH_CORS=http://localhost:9000,http://localhost:8000
# VENDOR_CORS=http://localhost:8000
JWT_SECRET=supersecret
COOKIE_SECRET=supersecret
